*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./white-cloud-blue-sky_74190-2381.avif");
    border: 10px groove greenyellow;
    
}


.form1{
    border: 3px dashed red;
   
}
.formcontainer{
    text-align: center;
    margin-top: 100px;
    margin-left: 400px;
    
}
.col{
    color: red;
}
.container{
    margin-left: 10px;
    margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
   column-gap: 250px;
   row-gap: 20px;   
}
.conta{
    width: 200px;
    border: 1px solid green;
    background-color: aqua;
    border-radius: 10%;
    color: blue;
    text-align: center;
}

.contai{
    
    display:flex;
    column-gap: 500px;
    text-align: center;
}
.Cont1{
    margin: 50px;
    padding: 10px;
}
.Cont2{
    margin-left: 200px;
    margin-top: 80px;
    padding: 20px;
    position: absolute;
    text-align: center;
}
.Cont3{
    margin-top: 50px;
    height: 100px;
    border-radius: 10%;
}
.cir{
    display: flex;
    border: 5px solid rgba(90, 88, 88, 0.87);
    border-radius: 50%;
    background-color: #09edb4;
    width: 350px;
    height: 200px;
    margin-top: 500px;
    margin-left: 100px;
    align-items: center;
}
.Cont{
    color: white;
    border: 7px solid red;
    background-color: black;
    border-radius: 10%;
}
.div1{
    display: flex;
    width: 100%;
    height: 800px;
}
.butt{
    width: 200px;
    height: 30px;
    border: 5px solid black;
    background-color: red;
    margin-left: 500px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
